/* 
  These are the styles meant to apply to all of the pages

  Color shades (blue)
    lighter: 7DADE6
    light: 5391DB
    medium: 317AD1
    dark: 0F63C8
    darker: 094995 
*/

html,
body {
  font-family: 'Lato', sans-serif;
  opacity: .99;
}

.navbar {
  -webkit-box-shadow: 0 0 1rem #333;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 0 1rem #333;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 0 1rem #333;
  border: none !important; /* Fuck you, bootstrap */
}



