<div class = "addCardSet">
<h2>Add a New Card Set</h2>
<form>
  <input type = "text" name = "name" placeholder = "Name" ng-model = formData.name >
  <br>
  <div class="form-group" data-ng-repeat="choice in choices">
    <label for="choice" ng-show="showChoiceLabel(choice)">Choices</label>
    <input type="text" ng-model="choice.name" name="" placeholder="bingocard square entry">
    <button ng-show="showAddChoice(choice)" ng-click="addNewChoice()">Add another card</button>
  </div>
  <button type = "submit" ng-click = "addCardSet()">Add!</button>
</form>
<div>{{formData.name}}</div>
<div>{{choices}}</div>
<div>{{msg}}</div>
