<div class="game">
  <div class="gameContainer">
    <div class="col-md-7 col-lg-6">
      <div class="bingoheader">
        <h2>{{roomname}}</h2>
      </div>
      <div class="bingoCard">
        <div bsquare class="bingorow" ng-repeat="cardrow in gamecard" ng-init="rowindex = $index">
          <div bsquare class="bingosquare" ng-repeat="square in cardrow" ng-init="colindex = $index" ng-click="sqclick($event)" ng-class="{squaretoggle: gamescore[rowindex][colindex]}" id="[{{rowindex}},{{colindex}}]">
            <!--Making this just a number for now for styling sake-->
            <div class="bingosquaretext">{{rowindex * 5 + colindex + 1}}</div>
          </div>
        </div>
      </div>
      <div class="haveBingo">
        <span ng-if="bingo" class="animate-if">
          Congratulations! You have a bingo!
      </span>
        <span ng-if="bingo_popup" class="animate-if">
        {{winnertext}}
      </span>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="squaresTitle">
        <h2>Squares</h2></div>
      <div class="squares">
        <ol>
          <div ng-repeat="cardrow in gamecard">
            <div ng-repeat="square in cardrow">
              <li>{{square}}</li>
            </div>
          </div>
        </ol>
      </div>
    </div>
    <div class="col-md-2 col-lg-3">
      <div class="squaresTitle">
        <h2>Players</h2></div>
      <div class="squares">
        <ol>
          <li><strong><p>Host: {{host_name}}</p></strong></li>
          <li ng-repeat="x in players">
            {{x.name}}
          </li>
        </ol>
      </div>
    </div>
    <br>
    <p>Time to start: {{countdown}}</p>
    <button ng-show="showstartbutton" ng-model="start" ng-click="start_func($event)">START</button>
  </div>
</div>
