<div class="row">
  <div class="col-xs-1 col-md-2"></div>
  <div class="col-xs-9 col-md-8 col-lg-6">
    <span ng-if="bingo" class="animate-if">
      You have a bingo!
    </span>
    <div class="row bingoheader">
      <div class="col-xs-12">Card Title</div>
    </div>
    <div bsquare class="row bingorow" ng-repeat="cardrow in gamecard" ng-init="rowindex = $index">
      <div bsquare class="col-xs-5th bingosquare" ng-repeat="square in cardrow" ng-init="colindex = $index" ng-click="sqclick($event)" id="[{{rowindex}},{{colindex}}]">
        {{square}}
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-md-2 col-md-3"></div>
</div>
