<div class="row">
  <div class="col-xs-1 col-md-2">
    <p>{{roomname}}</p>
    <div>Choices goes here</div>
    <ul>
      <li ng-repeat="x in players">
        {{x.name}}
      </li>
    </ul>
    <p>Host: {{host_name}}</p>
    <button ng-show="showstartbutton" ng-model="start" ng-click="start_func($event)">START</button>
  </div>
  <div class="col-xs-9 col-md-8 col-lg-6" id="bingocardcol">
    <span ng-if="bingo_popup" class="animate-if">
      {{winnertext}}
    </span>
    <div class="row bingoheader">
      <div class="col-xs-12">Card Title</div>
    </div>
    <div bsquare class="row bingorow" ng-repeat="cardrow in gamecard" ng-init="rowindex = $index">
      <div bsquare class="col-xs-5th bingosquare" ng-repeat="square in cardrow" ng-init="colindex = $index" ng-click="sqclick($event)" id="[{{rowindex}},{{colindex}}]">
        {{square}}
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-md-2 col-md-3"></div>
</div>
