<div class="newGame">
  <div class="container">
    <md-content layout-padding>
      <h2>Create a new game</h2>
      <form>
        <p>Name:</p>
        <input type="text" name="name" placeholder="Room Name" ng-model=formData.room>
        <br>
        <p>Start date and time: </p>
        <!--TODO: Make the start date input more user friendly-->
        <input type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2020-12-31T00:00:00" ng-model=f ormData.startDate>
        <br>
        <p>Select Card Set to Use: </p>
        <div class="options">
          <div ng-repeat="cardset in formText">
            {{cardset.name}}
            <input type="radio" name="cardset.id" value="{{cardset._id}}" ng-model=f ormData.card_set_id>
          </div>
        </div>
        <button type="submit" ng-click="addGame()">Create!</button>
      </form>
    </md-content>
  </div>
</div>
