<div class="newGame">
<div class="container">
    <!--<md-content layout-padding>-->
      <h1>Create a new game</h1>
      <form>
        <div class = "row">
          <div class = "col-md-12 step1">
        <h3>Step 1</h3>
        <h5>Choose a Name</h5>
        <p>This will be the name of the game room that appears on the home screen.</p>
        <input type="text" name="name" placeholder="Name" ng-model=formData.room>
      </div>
        <div class = "col-md-12 step3">
        <h3>Step 2</h3>
        <h5>Select the Card Set</h5>
        <p>This is the set of options that will fill the bingo cards for this game.</p>
        <div class="options">

          <div ng-repeat="cardset in formText">
            <input type = "radio" name = "{{cardset._id}}" value = "{{cardset._id}}" ng-model = formData.card_set_id id = "{{cardset._id}}"><label for="{{cardset._id}}">
            <span class = "cardsetName fa fa-square-o fa-lg"></span>{{cardset.name}}</label>
          </div>
        </div>
      </div>
      <div class = "col-md-12">
        <button type="submit" ng-click="addGame()" class = "btn btn-primary btn-lg btn-block button">Create!</button>
      </div>
    </div>
      </form>
    <!--</md-content>-->
  </div>
  <div class = "decorator3"><img src = "/img/bingo_2.png"></div>
</div>
